aiohttp
aiohttp-retry
aiosignal
asgiref
attrs
blinker
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-email
django-environ
Flask
frozenlist
idna
itsdangerous
Jinja2
MarkupSafe
multidict
pillow
psycopg2
psycopg2-binary
PyJWT
requests
sqlparse
twilio
typing_extensions
tzdata
urllib3
Werkzeug
yarl