/* static/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-left {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header .logo {
    height: 50px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav .right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.container {
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
}

.messages {
    display: block;
    position: fixed;
    top: 100px;
    right: 400px;
    z-index: 1000;
    width: 400px;
    max-width: 90%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages .message {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 3px solid #2196F3;
    background-color: #f0f9ff;
}
